= form_for(User.new, url: session_path(:user), html: { id: 'user', class: 'gl-show-field-errors', 'aria-live' => 'assertive'}) do |f|
  .form-group
    = f.label _('Username or email'), for: 'user_login', class: 'label-bold'
    = f.text_field :login, class: 'form-control top', autofocus: 'autofocus', autocapitalize: 'off', autocorrect: 'off', required: true, title: _('This field is required.'), data: { qa_selector: 'login_field' }
  .form-group
    = f.label :password, for: 'user_password', class: 'label-bold'
    = f.password_field :password, class: 'form-control bottom', required: true, title: _('This field is required.'), data: { qa_selector: 'password_field' }
  .remember-me.gl-py-6
    %label{ for: 'user_remember_me' }
      = f.check_box :remember_me, class: 'remember-me-checkbox'
      %span
        = _('Remember me')
    .float-right
      - if unconfirmed_email?
        = link_to _('Resend confirmation email'), new_user_confirmation_path
      - else
        = link_to _('Forgot your password?'), new_password_path(:user)

  .submit-container.move-submit-down
    = f.submit _('Continue'), class: 'btn btn-success', data: { qa_selector: 'sign_in_button' }
